<div>
	<div id="loginModal" class="modal show" tabindex="-1" role="dialog"
		aria-hidden="true" style="position: inherit;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×</button>
					<h1 class="text-center" translate text="Login"></h1>
				</div>
				<div class="modal-body">
					<form class="form col-md-12 center-block">
						<div class="form-group">
							<input type="text" class="form-control input-lg"
								placeholder="username" ng-model="user" ng-readonly="tokenValid">
						</div>
						<div class="form-group">
							<input type="password" class="form-control input-lg"
								placeholder="Password" ng-model="pass" ng-readonly="tokenValid">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" type="button" ng-click="login()"
						translate text="signIn" ng-disabled="tokenValid"></button>
					<button class="btn btn-warning" type="button" ng-click="logout()"
						translate text="signOut"></button>
				</div>
			</div>
		</div>
	</div>
</div>
