nginx/conf/nginx.conf
nginx/logs/access.log
nginx/logs/debug.log
nginx/logs/error.log
nginx/logs/nginx.pid
easykrkBackend/pom.xml
nginx/conf/nginx.conf
nginx/logs/access.log
nginx/logs/debug.log
nginx/logs/nginx.pid
