<div >

	<form name="KEKMainForm" class="form-horizontal" role="form" novalidate="novalidate">

		<div class="form-group col-xs-12">
			<div class="form-group col-xs-6">
				<div class="input-group" >
					<label for="programKsztalcenia" translate text="program"></label> <input
						class="form-control input" id="programKsztalcenia" type="text"
						name="programKsztalcenia" ng-model="programKsztalcenia.kod" ng-readonly="fromModal" required > <span
						class="input-group-btn" style="vertical-align: bottom">
						<button class="btn  search-button" type="button"
							ng-click="showProgramKsztalceniaLookUp()" style="margin-left: 0px" ng-disabled="finished"></button>
					</span>
				</div>
				<label for="cykl" translate text="przedmiot.cykl" /> <select
					class="form-control input" id="cykl" type="text" name="cykl"
					ng-model="cykl" ng-readonly="fromModal || finished" ng-disabled="fromModal || finished" required>
					<option ng-repeat="c in cykle">{{c}}</option>
				</select> 
				<div ng-class="{'has-error':KEKMainForm.kategoria.$invalid && !KEKMainForm.kategoria.$pristine}">
				<label for="kategoria" translate text="kategoria.kategoria" /> <select
					class="form-control input" id="kategoria" type="text"
					name="kategoria" ng-model="kategoria"
					ng-class="{'has-error':KEKMainForm.kategoria.$invalid && !KEKMainForm.kategoria.$pristine}"
					ng-options="translate(kat.nazwa) for kat in kategorie track by kat.id"
					 ng-readonly="finished" ng-disabled="finished" required>
				</select>
				</div>
				 <label for="kekID">ID</label> <input class="form-control input"
					id="kekID" type="text" name="kekID" ng-model="id"
					readonly="readonly">

			</div>

			<div class="form-group col-xs-6 pull-right" >
			
			<div ng-class="{'has-error' : KEKMainForm.opis.$invalid && !KEKMainForm.opis.$pristine } ">
				<label for="opis" translate text="efekt.opis" />
				<textarea rows="7" form="KEKMainForm"class="form-control" id="opis" name="opis"
					ng-model="opis" ng-readonly="finished" ng-disabled="finished" 
					ng-minlength="20" ng-maxlength="100" ></textarea>
					</div>
					
				<label for="MEKObszar" translate text="MEK.obszar.obszar" />
				 <select
					class="form-control input" id="MEKObszar" type="text"
					name="MEKObszar" ng-model="obszar"
					ng-options="t(o.nazwa) for o in obszary track by o.id" ng-readonly="pkFromModal || finished"
					 ng-disabled="pkFromModal || finished" required>
				</select>
			</div>
			<label for="lowerBlock" translate text="przypisaneMEK" />
			<div class="form-inline" id="lowerBlock">
				<div class="form-group col-xs-11">
					<div id="gridMEK" ui-grid="gridOptionsMEK" ui-grid-cellnav
						ui-grid-selection class="myGrid" external-scopes="gridHandlers">
					</div>
				</div>
				<div class="form-group col-xs-1">
					<button type="button" id="addData"
						class="btn btn-success save_button" ng-click="showMEKLookUp()" ng-disabled="obszar.nazwa === '' || finished">+</button>
					<button type="button" id="addData"
						class="btn btn-success save_button" ng-click="removeData()" ng-disabled="finished">-</button>
				</div>
			</div>
		</div>
		<div class="text-right">
			<button type="submit" class="btn btn-success btn-lg " translate
				text="przedmiot.zatwierdz" ng-disabled="inCorrect || finished" ng-click="addKEK()" ng-show="!finished"></button>
			<button type="submit" class="btn btn-success btn-lg " translate
				text="przedmiot.anuluj" ng-click="cancelKEK()" ng-disabled="finished" ng-show="!finished" ></button>
		</div>
	</form>

</div>
