<div ng-controller="PrzedmiotController">
	<form name="myForm" class="form-horizontal" role="form">
		<div class="form-group col-xs-6">
			<div class="form-group"
				ng-class="{ 'has-error': myForm.programKsztalcenia.$invalid && myForm.programKsztalcenia.$dirty}">

				<div class="input-group">
				
				<label for="programKsztalcenia" translate text="program"></label> <input
					class="form-control input" id="programKsztalcenia" type="text"
					name="programKsztalcenia" ng-model="przedmiot.program.kod"
					ng-required="true" ng-readonly="fromModal">
					 <span
						class="input-group-btn" style="vertical-align: bottom">
						<button class="btn  search-button" type="button"
							ng-click="showProgramKsztalceniaLookUp()" style="margin-left: 0px"></button>
					</span>
				<div role="alert">
					<span class="error"
						ng-show="myForm.nazwaPolska.$dirty && myForm.programKsztalcenia.$error.required"
						translate text="przedmiot.wymagane"></span> 
				</div>

				</div>
			</div>
			<div class="form-group"
				ng-class="{ 'has-error': myForm.cykl.$invalid && myForm.cykl.$dirty}">
				<label for="cykl" translate text="przedmiot.cykl" /> <select
					class="form-control input" id="cykl" type="text" name="cykl"
					ng-model="cykl" ng-required="true" ng-disabled="fromModal">
					<option ng-repeat="c in cykle">{{c}}</option>

				</select>
				<div role="alert">
					<span class="error"
						ng-show="myForm.cykl.$dirty && myForm.cykl.$error.required"
						translate text="przedmiot.wymagane"></span>
				</div>
			</div>
		</div>

		<div class="form-group col-xs-12">
			<hr class="divider">
			<div class="form-group col-xs-6">
				<div class="form-group"
					ng-class="{ 'has-error': myForm.nazwaPolska.$invalid && myForm.nazwaPolska.$dirty}">
					<label for="nazwaPolska" translate text="przedmiot.nazwaPolska"></label>
					<input class="form-control input" id="nazwaPolska" type="text"
						name="nazwaPolska" ng-model="przedmiot.nazwaPolska"
						ng-minlength="3" ng-maxlength="50" ng-required="true">
					<div role="alert">
						<span class="error"
							ng-show="myForm.nazwaPolska.$dirty && myForm.nazwaPolska.$error.required"
							translate text="przedmiot.wymagane"></span> <span class="error"
							ng-show="myForm.nazwaPolska.$dirty && myForm.nazwaPolska.$error.minlength"
							translate text="przedmiot.krotkaNazwa"></span> <span
							class="error"
							ng-show="myForm.nazwaPolska.$dirty && myForm.nazwaPolska.$error.maxlength"
							translate text="przedmiot.dlugaNazwa"></span>
					</div>
				</div>
				<div class="form-group"
					ng-class="{ 'has-error': myForm.nazwaAngielska.$invalid && myForm.nazwaAngielska.$dirty}">
					<label for="nazwaAngielska" translate
						text="przedmiot.nazwaAngielska"></label> <input
						class="form-control input" id="nazwaAngielska" type="text"
						name="nazwaAngielska" ng-model="przedmiot.nazwaAngielska"
						ng-minlength="3" ng-maxlength="50" ng-required="true">
					<div role="alert">
						<span class="error"
							ng-show="myForm.nazwaAngielska.$dirty && myForm.nazwaAngielska.$error.required"
							translate text="przedmiot.wymagane"></span> <span class="error"
							ng-show="myForm.nazwaAngielska.$dirty && myForm.nazwaAngielska.$error.minlength"
							translate text="przedmiot.krotkaNazwa"></span> <span
							class="error"
							ng-show="myForm.nazwaAngielska.$dirty && myForm.nazwaAngielska.$error.maxlength"
							translate text="przedmiot.dlugaNazwa"></span>
					</div>
				</div>
				<div class="form-group"
					ng-class="{ 'has-error': myForm.kod.$invalid && myForm.kod.$dirty}">
					<label for="kod" translate text="przedmiot.kod"></label> <input
						class="form-control input" id="kod" type="text" name="kod"
						ng-model="przedmiot.kod" ng-required="true"
						ng-pattern="/^[A-Z]{3}[0-9]{6}$/">
					<div role="alert">
						<span class="error"
							ng-show="myForm.kod.$dirty && myForm.kod.$error.required"
							translate text="przedmiot.wymagane"></span> <span class="error"
							ng-show="myForm.kod.$dirty && myForm.kod.$error.pattern"
							translate text="przedmiot.kodPattern"></span>
					</div>
				</div>
				<div class="form-group"
					ng-class="{ 'has-error': myForm.modul.$invalid && myForm.modul.$dirty}">
					<label for="modul" translate text="przedmiot.modul"></label> <select
						class="form-control input" id="modul" type="text" name="modul"
						ng-model="przedmiot.modulKsztalcenia.nazwa" ng-required="true">
						<option ng-repeat="modul in moduly">{{modul.nazwa}}</option>
					</select>
					<div role="alert">
						<span class="error"
							ng-show="myForm.modul.$dirty && myForm.modul.$error.required"
							translate text="przedmiot.wymagane"></span>
					</div>
				</div>
				<div class="form-group"
					ng-class="{ 'has-error': myForm.opiekun.$invalid && myForm.opiekun.$dirty}">
					<label for="opiekun" translate text="przedmiot.opiekun"></label> <input

						uib-typeahead="osoba for osoba in getOpiekunowie()" typeaead-loading="loadingOsoba" typeahead-no-results="noResultsOsoba"class="form-control input" id="opiekun" type="text"
						name="opiekun" ng-model="przedmiot.opiekun.fullName" ng-required="true">

					<div role="alert">
						<span class="error"
							ng-show="myForm.opiekun.$dirty && myForm.opiekun.$error.required"
							translate text="przedmiot.wymagane"></span>
					</div>
				</div>
			</div>
			<div class="form-group col-xs-6 pull-right">

				<div>
					<div class="form-inline">
						<label for="czyGrupa" translate text="przedmiot.czyGrupa"></label>
						<input type="checkbox" class="form-control input" id="czyGrupa"
							type="text" name="czyGrupa" ng-model="przedmiot.czyGrupa">
					</div>
					<div ng-show="przedmiot.czyGrupa">
						<label for="sel1" translate text="przedmiot.kursGlowny"></label> <select
							class="form-control" id="sel1" ng-required="przedmiot.czyGrupa">
							<option ng-repeat="kurs in przedmiot.zajecia" >{{kurs.forma}}</option>
						</select>
					</div>
					<div role="alert">
						<span class="error"
							ng-show="myForm.czyGrupa.$dirty && myForm.czyGrupa.$error.required"
							translate text="przedmiot.wymagane"></span>
					</div>

				</div>
				<label for="block1" translate text="przedmiot.kursy"></label>
				<div id="block1">
					<div class="form-inline">
						<div class="form-group col-xs-11">
							<div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-validate ui-grid-selection
								ui-grid-cellnav class="myGrid"></div>
						</div>
						<div class="form-group col-xs-1">
							<button type="button" id="addData"
								class="btn btn-success save_button" ng-click="dodaj()">+</button>
								<button type="button" id="addData"
							class="btn btn-success save_button" ng-click="removeKurs()">-</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group col-xs-12">
			<label for="block2" translate text="przedmiot.przypisaneKEK"></label>
			<div id="block1">
				<div class="form-inline">
					<div class="form-group col-xs-11">
						<div id="grid2" ui-grid="gridOptionsEK" ui-grid-edit ui-grid-cellNav ui-grid-validate  ui-grid-selection class="myGrid"></div>
					</div>
					<div class="form-group col-xs-1">
						<button type="button" id="addData"

							class="btn btn-success save_button" ng-click="showKEKLookUp()">+</button>
						<button type="button" id="addData"
							class="btn btn-success save_button" ng-click="removeEK()">-</button>
					</div>
					
				</div>
			</div>
		</div>
		<div class="form-group col-xs-12 pull-right">
						<button type="submit" class="btn btn-success btn-lg btn-group"
							translate text="przedmiot.zatwierdz" ng-click="save()"></button>
					</div>

	</form>
</div>
