<form name="myFormPrzedmiot" class="form-horizontal" role="form">
	<div class="form-group col-xs-6">
		<label for="programKsztalcenia" translate text="program"></label> <input
			class="form-control input" id="programKsztalcenia" type="text"
			name="programKsztalcenia" ng-model="przedmiot.program" required>
		<div role="alert">
			<span class="error"
				ng-show="myFormPrzedmiot.programKsztalcenia.$error.required">Required!</span>
		</div>
		<label for="cykl" translate text="przedmiot.cykl" /> <select
			class="form-control input" id="cykl" type="text" name="cykl"
			ng-model="przedmiot.cykl" ng-minlength="3" ng-maxlength="10">
			<option>2015/2016</option>
			<option>2016/2017</option>
		</select>
		<br>
		<button type="submit" class="btn btn-default" translate text="szukaj"></button>
	</div>

	<div class="form-group col-xs-12">
		<label for="gridPrzedmiot" translate
			text="przedmiot.znalezionePrzedmioty" />
		<div id="gridPrzedmiot" ui-grid="gridOptionsPrzedmiot" 
			ui-grid-cellnav class="myGrid"></div>
	</div>

</form>