<div ng-controller="PrzedmiotController">
	<form name="myForm">
		<label> User name: <input type="text" name="userName"
			ng-model="user.name" required>
		</label>
		<div role="alert">
			<span class="error" ng-show="myForm.userName.$error.required">
				Required!</span>
		</div>
		<label> Last name: <input type="text" name="lastName"
			ng-model="user.last" ng-minlength="3" ng-maxlength="10">
		</label>
		<div role="alert">
			<span class="error" ng-show="myForm.lastName.$error.minlength">
				Too short!</span> <span class="error"
				ng-show="myForm.lastName.$error.maxlength"> Too long!</span>
		</div>
	</form>
	<hr>
</div>
