<div ng-controller="PrzedmiotController">
	<form name="myForm" class="form-horizontal" role="form">
	<div class="form-group col-xs-6">
		<label for="programKsztalcenia" translate text="program"></label>
		<input  class="form-control input" id="programKsztalcenia" type="text" name="programKsztalcenia" ng-model="przedmiot.program" required>
		<div role="alert">
			<span class="error" ng-show="myForm.programKsztalcenia.$error.required">Required!</span>
		</div>
		<label for="cykl" translate text="przedmiot.cykl" />
		<select class="form-control input" id="cykl" type="text" name="cykl" ng-model="przedmiot.cykl" ng-minlength="3" ng-maxlength="10">
			<option>2015/2016</option>		
			<option>2016/2017</option>
		</select>
		<div role="alert">
			<span class="error" ng-show="myForm.cykl.$error.minlength">Too short!</span>
			<span class="error"	ng-show="myForm.cykl.$error.maxlength">Too long!</span>
		</div>
		<hr>		
		</div>
		<div class="form-group col-xs-12">
		<div class="form-group col-xs-6">
			<label for="nazwaPolska" translate text="przedmiot.nazwaPolska"></label>
			<input  class="form-control input" id="nazwaPolska" type="text" name="nazwaPolska" ng-model="przedmiot.nazwaPolska" required>
			<div role="alert">
				<span class="error" ng-show="myForm.nazwaPolska.$error.required">Required!</span>
			</div>
		</div>
		
		<div class="form-group col-xs-6">
		
		<button type="submit" class="btn btn-default" translate text="przedmiot.zatwierdz"></button>
		
		</div>
		
		
		
		
		
		
		
		
			
		</div>
	</form>
	
</div>
