
<div class="modal-header">
	<h3 class="modal-title" translate text="MEK.wyszukiwanie"></h3>
</div>
<div class="modal-body">
	<label for="MEKObszar" translate text="MEK.obszar.obszar" /> <select
		class="form-control input" id="MEKObszar" type="text" name="MEKObszar"
		ng-readonly="gotObszar" ng-disabled="gotObszar"
		ng-model="obszar" ng-options="t(o.nazwa) for o in obszary track by o.id">
	</select> <label for="opis" translate text="efekt.opis"></label> <input
		class="form-control input" id="opis" type="text" name="opis"
		ng-model="params.opis">
	<div class="text-right">
		<button class="btn btn-primary"
			style="margin-top: 4px; margin-bottom: 4px" type="button"
			ng-click="szukajMEK()" translate text="szukaj"></button>
	</div>
	<div id="gridMEK" ui-grid="gridOptionsMEK" ui-grid-cellnav
		ui-grid-selection class="myGrid" external-scopes="gridHandlers">
		<span us-spinner="{radius:40, width:10, length: 20}" spinner-on="busy"></span>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
